.gradle/*
.idea/*
build/*
gradle/gradle-wrapper.jar
out/*
output/*
.classpath
.project
bin/*
.settings/*
data/.~lock.*
*.iml
local.properties
data/tudu-2.2-distribution/*
data/tudu-2.3-distribution/*
data/tudu-code-r733-branches-tudu2_splp_v3/*
data/tudu-2.2-distribution.zip
data/tudu-2.3-distribution.zip
data/tudu-code-r733-branches-tudu2_splp_v3.zip
data/interBackup.csv
data/fiberNotes.docx
data/createTableInterMysql.sql